html, body {
	height: 100%;
	max-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana;
	color: #000000;
	background-color: #fafafa;
}

p {
	font-size: 12px;
	color: #000000;
	margin: 10px;
}

h1 {
    text-align: center;
	font-size: 18px;
	font-family: Verdana;
}

h2 {
	font-size: 14px;
	font-family: Verdana;
}

select {
    width: 100%;
    padding: 4px;
    margin-top: 2px;
}

caption {
	width: 100%;
	text-align: left;
	font-size: 16px;
	font-family: Verdana;
	font-weight: 650;
	padding: 6px;
}

a:link {
	color: #050096;
}

a:visited {
	color: #4400a3;
}

a:hover {
	cursor: pointer
}

.header {
	margin-top: 55px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 16px;
}
	

.topnav {
    max-width: 100%;
	width: 100%;
	display: flex;
	background-color: #e3eef2;
	border-bottom: 0.5px solid #a8cad7;
	position: fixed;
	top: 0;
	left: 0;
}

.topnav a {
	float: left;
	border: 0.5px solid #a8cad7;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	padding: 12px 36px;
	text-decoration: none;
	color: #000000;
	width: 25%;
}

.topnav a:hover {
	background-color: #b9d4df;
	cursor: pointer;
}



#multi-filters {
	display: flex;
    flex-wrap: wrap;
    gap: 6px;
	font-size: 11px;
	max-width: 100%;
	background-color: #f4f4f4;
	font-family: Verdana;
	border: 1px solid #ccc;
    border-radius: 4px;
	margin-left: 10px;
	align-items: center;
}

#type-filters, #team-filters, #stat-filters, #game-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
	padding-left: 6px;
	padding-right: 6px;
	width: 100%;
	height: 24px;
	align-items: center;
}

#type-filters:hover, #team-filters:hover, #stat-filters:hover, #game-filters:hover {
	background-color: #e3eef2;
}

#type-filters label, #team-filters label, #stat-filters label, #game-filters label {
    display: flex;
    align-items: center;
    color: #333;
    cursor: pointer;
	font-size: 11px;
}

#type-filters input[type="checkbox"], 
#team-filters input[type="checkbox"], 
#stat-filters input[type="checkbox"], 
#game-filters input[type="checkbox"] {
    cursor: pointer;
}



#filter-row {
	height: 22px;
	background-color: #f4f4f4;
	font-size: 11px;
	max-width: 100%;
}

#filter-row:hover {
	background-color: #f4f4f4;
}

.filter-select {
    width: 100%;
    font-size: 11px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-select option {
    background-color: #f0f0f0;
	width: 100%;
	color: #000000;
}

.filter-select option:hover {
    background-color: #c5d5c5;
}

#resultAndButtons {
	margin-top: 0px;
	margin-left: 10px;
	max-width: 100%;
	width: 100%;
	display: flex;
	gap: 10px;
}

#result-container {
	width: 50%;
	padding: 6px;
	float: left;
	border: 1px solid #b1c1c8;
	background-color: #f5f8f9;
	border-radius: 4px;
}

#result {
	width: 100%;
	font-family: Verdana;
	font-size: 14px;
	font-weight: 700;
}

.button-container {
	width: 50%;
    display: flex;
    gap: 10px;
	float: left;
}

.button-container button {
    padding: 6px;
    font-size: 12px;
    background-color: #e3eef2;
    border: 1px solid #a8cad7;
    cursor: pointer;
    border-radius: 4px;
	width: 142px;
}

.button-container button:hover {
    background-color: #b9d4df;
	border: 1px solid #a8cad7;
}

#player-table {
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	table-layout: fixed;
    border-collapse: collapse;
	border: .5pt solid #D9D9D9;
	font-family: Verdana;
	background-color: #fafcff;
	margin-bottom: 20px;
	word-wrap: break-word;
	overflow-x: auto;
}

#player-table th {
	border: .5pt solid #D9D9D9;
    background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 4px;
	height: 22px;
}

#player-table td:nth-child(1) {
	text-align: left;
}


.team-header { 
	background-color: #00264d; 
	color: #f5faff; 
	text-align: left; 
	font-weight: 700;
}

.team-header a:hover { 
	color: #cfe7ff; 
	cursor: pointer
}

#player-table a:hover {
	cursor: pointer
}


#team-container, #gamelog-container, #boxscore-container, #data-table-container {
	max-width: 100%;
	margin: 10px;
}

#gamelog-table, #team-table, #data-table, #home-boxscore, #away-boxscore  {
    margin-left: auto;
	margin-right:auto;
	max-width: 100%;
	table-layout: fixed;
    border-collapse: collapse;
	border: .5pt solid #D9D9D9;
	font-family: Verdana;
	background-color: #fafcff;
	margin-bottom: 20px;
	word-wrap: break-word;
	overflow-x: auto;
}

#gamelog-table th, #home-boxscore th, #away-boxscore th, #team-table th, #data-table th {
    cursor: pointer;
	border: .5pt solid #D9D9D9;
    background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 4px;
	height: 22px;
}

#home-boxscore th:hover, #away-boxscore th:hover, #gamelog-table th:hover, #team-table th:hover, #data-table th:hover {
    background-color: #e0e0e0;
}

#player-table tbody tr, #home-boxscore tbody tr, #away-boxscore tbody tr, #gamelog-table tbody tr, #team-table tbody tr, #data-table tbody tr {
	height: 26px;
	vertical-align: middle;
	background-color: #ffffff;
}

#player-table tbody tr:hover, #home-boxscore tbody tr:hover, #away-boxscore tbody tr:hover, #gamelog-table tbody tr:hover, #team-table tbody tr:hover, #data-table tbody tr:hover {
    background-color: #e3eef2;
}

#home-boxscore tbody tr.selected-row, #away-boxscore tbody tr.selected-row, #gamelog-table tbody tr.selected-row, #team-table tbody tr.selected-row, #data-table tbody tr.selected-row {
    background-color: #cfeffc;
}

#home-boxscore tbody tr.selected-row:hover, #away-boxscore tbody tr.selected-row:hover, #gamelog-table tbody tr.selected-row:hover, #team-table tbody tr.selected-row:hover, #data-table tbody tr.selected-row:hover {
    background-color: #9ee4ff;
}

#home-boxscore tfoot, #away-boxscore tfoot {
    background-color: #f1f1f1;
}

#player-table td, #home-boxscore td, #away-boxscore td, #gamelog-table td, #team-table td, #data-table td {
    padding: 4px;
    text-align: center;
	border: .5pt solid #D9D9D9;
    overflow: hidden;
    white-space: nowrap; /* Prevents cell content from wrapping */
	font-size: 12px;
	font-weight: 500;
}

#data-table td:nth-child(4) {
	text-align: left;
}

.arrowUp {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 45px;
	height: 35px;
	z-index: 99;
	background-color:rgba(227, 238, 242,0.75);
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
}
	
.arrowUp:hover {
	background-color:rgba(185, 212, 223,0.75);
	cursor: pointer;
}

.arrowUp a {
	text-align: center;
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	font-weight: 600;
}