/* VARIABLES */
:root {
  --text-color: #222831; /* Dark gray for text */
  --background-color: #fefefe; /* Very light gray for background */
  --secondary-color: #ffffff; /* White for secondary backgrounds */
  --accent-color: #0077b6; /* Muted blue for accents */
  --hover-color: #d4e9f1; /* Darker blue for hover effects */
  --box-background-color: #eaf4f9; /* Light blue-gray for buttons and boxes */
  --section-background: #f7fbfd; /* Light gray for sections */
  --font-family: Verdana;
}

/* RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */
body {
  max-width: 100%;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;
}

h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 16px 0;
  text-align: center;
}

h2, caption {
  font-size: 18px;
  font-weight: 400;
  margin: 12px 0;
}

p {
  font-size: 13px;
  margin: 8px;
}

a {
  color: #265CCA;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #3D3FCA;
  text-decoration: underline;
}

a:visited {
  color: #4E29CA;
}

/* MISC */
.event-checkbox {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.footer {
  margin-top: 24px;
}

/* TOP OF PAGE */
.header {
  margin-top: 60px;
  margin-bottom: 12px;
}

.topnav {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--box-background-color);
  border-bottom: 1px solid #ccc;
}

.topnav a {
  width: 25%;
  text-align: center;
  padding: 12px 0;
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.1s ease;
  border-right: 1px solid #ccc;
  border-left: 1px solic #ccc;
}

.topnav a:hover {
  background-color: var(--hover-color);
}

.arrowUp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 45px;
  height: 35px;
  z-index: 99;
  background-color: rgba(234, 244, 249, 0.75);
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 600;
}

.arrowUp:hover {
  background-color: rgba(196, 223, 232, 0.75);
  cursor: pointer;
}

/* FILTER BOXES */
#multi-filters {
  width: 95%;
  margin: 14px auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--section-background);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 12px;
}

#multi-filters label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#multi-filters input[type="checkbox"] {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  margin-left: 14px;
}

#type-filters, #team-filters, #stat-filters, #game-filters {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.multi-filters {
	width:100%;
}

.multi-filters tr {
	height: 38px;
}



/* FILTER ROWS */
#filter-row, #filter-row:hover {
  background-color: #f2f2f2;
  font-weight: 500;
  cursor: pointer;
}

.filter-select {
    width: 100%;
    font-size: 11px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
	cursor: pointer;
}

.filter-select option {
    background-color: #f2f2f2;
	width: 100%;
	color: #000000;
	cursor: pointer;
}

/* BUTTONS */
.button-container {
  width: 95%;
  margin: 6px auto 12px auto;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.button-container button {
  background-color: var(--box-background-color);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.button-container button:hover {
  background-color: var(--hover-color);
}

/* RESULT CONTAINER */
#result-container {
  width: 95%;
  margin: 4px auto;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: var(--section-background);
  border-radius: 4px;
  padding: 6px;
}

#result {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin: 0;
}

/* TABLE CONTAINERS */
#data-table-container, #team-container, #player-container, #boxscore-container, #H2H-container {
  width: 95%;
  margin: 12px auto 24px auto;
  overflow-x: auto;
  gap: 36px;
}

/* MAIN TABLES */
#data-table, #team-table, #player-table, #home-boxscore, #away-boxscore, #H2H-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  color: var(--text-color);
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#data-table th, #team-table th, #player-table th, #home-boxscore th, #away-boxscore th, #home-boxscore tfoot, #away-boxscore tfoot, #H2H-table th {
  background-color: var(--box-background-color);
  font-weight: 600;
  cursor: pointer;
  padding: 8px 6px;
  text-align: center;
  border: 1px solid #e0e0e0;
  font-size: 12px;
}

#data-table th:hover,#team-table th:hover,#player-table th:hover, #home-boxscore th:hover, #away-boxscore th:hover, #H2H-table th:hover {
  background-color: var(--hover-color);
}


#data-table td, #team-table td, #player-table td, #home-boxscore td, #away-boxscore td, #H2H-table td {
  padding: 8px 4px;
  text-align: center;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  font-weight: 500;
}

#data-table tbody tr:hover, #team-table tbody tr:hover, #player-table tbody tr:hover, #home-boxscore tbody tr:hover, #away-boxscore tbody tr:hover, #H2H-table tbody tr:hover {
  background-color: #eaf4f9;
  cursor: pointer;
}

#data-table tbody tr.selected-row, #team-table tbody tr.selected-row, #player-table tbody tr.selected-row, #home-boxscore tbody tr.selected-row, #away-boxscore tbody tr.selected-row, #H2H-table tbody tr.selected-row {
  background-color: #d4e9f1;
}

#data-table tbody tr.selected-row:hover, #team-table tbody tr.selected-row:hover, #player-table tbody tr.selected-row:hover, #home-boxscore tbody tr.selected-row:hover, #away-boxscore tbody tr.selected-row:hover, #H2H-table tbody tr.selected-row:hover {
  background-color: #c4dfe8;
}

#data-table td:nth-child(4), #data-table td:nth-child(5) {
	text-align: left;
}




/* INDEX TABLES */
#index-container {
  width: 95%;
  margin: 12px auto 24px auto;
  overflow-x: auto;
}

#team-index, #player-index, #boxscore-index {
	width: 80%;
    border-collapse: collapse;
	border: .5pt solid #D9D9D9;
	background-color: #ffffff;
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 28px;
	word-wrap: break-word;
	overflow-x: scroll;
}

#team-index th, #player-index th, #boxscore-index th {
	background-color: #f2f2f2;
	font-weight: 500;
	cursor: pointer;
	padding: 4px 6px;
	text-align: center;
	border: 1px solid #e0e0e0;
	font-size: 12px;
}
	
#team-index td, #player-index td, #boxscore-index td {
  padding: 4px 6px;
  text-align: center;
  border: 1px solid #e0e0e0;
  font-size: 12px;
}

#team-index tbody tr:hover, #player-index tbody tr:hover, #boxscore-index tbody tr:hover {
  background-color: #eaf4f9;
  cursor: pointer;
}

#team-index tbody tr.selected-row, #player-index tbody tr.selected-row, #boxscore-index tbody tr.selected-row {
  background-color: #d4e9f1;
}

#team-index tbody tr.selected-row:hover, #player-index tbody tr.selected-row:hover, #boxscore-index tbody tr.selected-row:hover {
  background-color: #c4dfe8;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .topnav {
    width: 100%;
  }

  .topnav a {
    width: 25%;
    padding: 8px 0;
    border-bottom: 1px solid #dddddd;
  }

  .button-container {
    flex-direction: column;
    width: 95%;
  }

  .button-container button {
    width: 100%;
    margin-bottom: 8px;
  }

  #multi-filters {
    flex-direction: column;
  }
}

/* FOCUS STATES */
button:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: 1px;
}

.team-logo {
    background: none; /* Remove any background color or image */
    padding: 0;
    margin: 0;
	width: 128px;
	height: 128px;
}

.team-logo img {
    display: block;
    max-width: 100%; /* Ensures it fits in its container */
    height: auto;
    background: none; /* No background on the image itself */
}
