/* General Page Styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

/* Filter Section Styling */
#filters {
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 15px;
}

#filters h3 {
    margin-top: 10px;
}

/* Data Table Styling */
#data-table-container {
    width: 100%;
    margin-top: 8px;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
	border: .5pt solid #D9D9D9;
	font-family: Verdana;
	table-layout: fixed;
}

#data-table th {
    cursor: pointer;
    background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 6px;
	border: 1px solid #EAEAEA;	
}

#data-table th:hover {
    background-color: #e0e0e0;
}

#data-table td {
    padding: 6px;
    text-align: center;
    border: 1px solid #EAEAEA;
    overflow: hidden;
    white-space: nowrap; /* Prevents cell content from wrapping */
	font-size: 12px;
	font-weight: 500;
}

#data-table tr:hover {
    background-color: #ebffeb;
}

#data-table tr {
	height: 32px;
	vertical-align: middle;
}

#data-table tr.active-row {
    background-color: #ebffeb;
}

#data-table tbody {
	text-align: center;
}

#data-table tr:hover {
    background-color: #ebffeb;
}


/* Filter Dropdown Styling */
#filter-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.dropdown label {
    font-size: 14px;
    margin-bottom: 5px;
}

.dropdown select {
    padding: 5px;
    font-size: 14px;
}
