body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#filters {
    margin-bottom: 20px;
}

.filter-group {
    margin-bottom: 15px;
}

#filters h3 {
    margin-top: 10px;
}

#filters label {
    margin-right: 10px;
}

#filters input[type="checkbox"] {
    margin-right: 5px;
}

#data-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 12px;
}

#data-table, 
#data-table th, 
#data-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

#data-table th {
    cursor: pointer;
}

#data-table tr:hover {
    background-color: #ebffeb;
}

.stat-filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.stat-filter-group label {
    margin-right: 0;
}

.filter-group input[type="date"] {
    margin-right: 20px;
}

/* Basic layout and style for filter dropdowns */
#filter-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.dropdown label {
  font-size: 14px;
  margin-bottom: 5px;
}

.dropdown select {
  padding: 5px;
  font-size: 14px;
}

#reset-filters {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

