/* General Page Styling */
body {
    font-family: Verdana;
    margin: 20px;
	color: #000000;
}

p {
	font-size: 14px;
	color: #000000;
}

h1 {
    text-align: center;
}

select {
    width: 100%;
    padding: 4px;
    margin-top: 2px;
}



/* Data Table Styling */
#data-table-container {
    width: 100%;
    margin-top: 8px;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
	border: .5pt solid #D9D9D9;
	font-family: Verdana;
	table-layout: fixed;
}

#data-table th {
    cursor: pointer;
    background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 6px;
	border: 1px solid #EAEAEA;	
}

#data-table th:hover {
    background-color: #e0e0e0;
}

#data-table td {
    padding: 6px;
    text-align: center;
    border: 1px solid #EAEAEA;
    overflow: hidden;
    white-space: nowrap; /* Prevents cell content from wrapping */
	font-size: 12px;
	font-weight: 500;
}

#data-table tbody tr {
	height: 32px;
	vertical-align: middle;
	background-color: #ffffff;
}

#data-table tbody tr:hover {
    background-color: #ecf9fe;
}

#data-table tbody tr.selected-row {
    background-color: #cfeffc;
}

#data-table tbody tr.selected-row:hover {
    background-color: #9ee4ff;
}

#filter-row {
	height: 22px;
	background-color: #f4f4f4;
	font-size: 11px;
}

#filter-row:hover {
	background-color: #f4f4f4;
	font-size: 11px;
}


.filter-select {
    width: 100%;
    padding: 4px;
    font-size: 11px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-select option {
    background-color: #f0f0f0;
	width: 100%;
	color: #000000;
}

.filter-select option:hover {
    background-color: #c5d5c5;
}


/* Container for buttons */
.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-bottom: 10px; /* Space below the button container */
}


/* Style for both buttons */
.button-container button {
    padding: 8px;
    font-size: 14px;
    background-color: #e3eef2;
    border: 1px solid #a8cad7;
    cursor: pointer;
    border-radius: 4px;
	width: 148px;
}

/* Hover effect for buttons */
.button-container button:hover {
    background-color: #b9d4df;
	border: 1px solid #a8cad7;
	
}

#result-container {
	width: 348px;
	padding: 6px;
	margin-bottom: 6px;
	border: 1px solid #b1c1c8;
	background-color: #f5f8f9;
	border-radius: 4px;
}

#result {
	width: 100%;
	font-family: Verdana;
	font-size: 14px;
	font-weight: 700;
}
